@model JobOffers.Models.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobImage)
        </dt>

        <dd>
            <img src="~/uploads/@Html.DisplayFor(model => model.jobImage)" style="width: 50px; height: 50px;" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Apply", "Apply", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
