@model IEnumerable<JobOffers.Models.Category>
@{

}
<div style="margin-bottom:250px">
    <div class="jumbotron alert alert-info" >
        <h2>Welcome To Job Website</h2>
        <p class="lead">If you are searching for a new career opportunity, you can search open vacancies and jobs. You can also signup here to be alerted of new jobs by email. </p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    @foreach (var item in Model)
    {
        <div class="panel panel-info"  >
            <div class="panel-heading"><h1>@Html.DisplayFor(modelItem => item.categoryName)</h1></div>
            <div class="row panel-body">
            <h5>@Html.DisplayFor(modelItem => item.categoryDescription)</h5>
                @foreach (var subitem in item.Job)
                {
                    <div class="col-md-3 thumbnail" style="margin-left:20px;margin-bottom:-10px;min-height:350px;">
                        <img src="~/uploads/@subitem.jobImage" style="width:200px;height:200px;" />
                        <h3>@Html.DisplayFor(modelItem => subitem.jobTitle)</h3>
                        <h5>@Html.DisplayFor(modelItem => subitem.jobContent)</h5>
                        @Html.ActionLink("Details", "Details", new { jobId = subitem.id },
                       new { @class = "btn btn-primary" })
                    </div>


                }
            </div>
        </div>
    }
</div>
