@model IEnumerable<Job_Offers_Website.Models.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobImage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
